.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  * {
    margin-left: 10px;
  }
}

.scan-area {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
