<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Add product </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Now that your app has been created, you'll want to start building out
          features and components. Check out some of the resources below for next
          steps.
        </p>
      </ion-card-content>
    </ion-card>

      <ion-list lines="none">
        <ion-list-header> <ion-label>Resources</ion-label> </ion-list-header>
        <ion-item href="https://beta.ionicframework.com/docs/">
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label>Ionic Documentation</ion-label>
        </ion-item>
        <ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">
          <ion-icon slot="start" color="medium" name="build"></ion-icon>
          <ion-label>Scaffold Out Your App</ion-label>
        </ion-item>
        <ion-item href="https://beta.ionicframework.com/docs/layout/structure">
          <ion-icon slot="start" color="medium" name="grid"></ion-icon>
          <ion-label>Change Your App Layout</ion-label>
        </ion-item>
        <ion-item href="https://beta.ionicframework.com/docs/theming/basics">
          <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
          <ion-label>Theme Your App</ion-label>
        </ion-item>
      </ion-list>
  -->
  <div class="scan-area">
    <ion-button shape="round" (click)="onScan()" color="primary"
      >Scan Barcode
    </ion-button>
  </div>
  <form [formGroup]="product" (ngSubmit)="onSave()">
    <ion-item>
      <ion-label>Seed Class</ion-label>
      <ion-input formControlName="seedClass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Batch number</ion-label>
      <ion-input formControlName="batchNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Seed Lot</ion-label>
      <ion-input formControlName="seedLot"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-input formControlName="type"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Nursery Seedling Id.</ion-label>
      <ion-input formControlName="nurserySeedlingId"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label>Seller</ion-label>
      <ion-input formControlName="seller"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-input type="text" formControlName="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Total Cost</ion-label>
      <ion-input formControlName="totalCost"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime
        formControlName="transactionDate"
        display-format="MM/DD/YYYY"
        [(ngModel)]="today"
      ></ion-datetime>
    </ion-item>
    <div class="form-actions">
      <ion-button type="submit" color="primary">Save </ion-button>
      <ion-button disabled color="medium" (click)="onClick()">Back </ion-button>
    </div>
  </form>
</ion-content>
