ion-content {
  .center_flex {
    justify-content: center;
    display: flex;
  }
  .logo {
    width: 70%;
    height: 100%;
  }
  .header {
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
  }
  .footer {
    color: lightgrey;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .validation {
    color: red;
  }

  .footerText {
    color: gray;
  }

  .marginTop3em {
    margin-top: 3em;
  }

  .marginLeft {
    margin-top: 2px;
    padding-left: 15px;
    color: #2297c2;
  }

  .keepmeloggedin {
    padding-left: 12px;
  }

  .blueFont {
    color: color($colors, light);
  }

  .vl {
    border-left: 6px solid lightgray;
    width: 500px;
  }
}
