<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title class="header">Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="logo-row">
    <ion-col class="center_flex">
      <img src="../../assets/imgs/lti_logo.png" class="logo" alt="logo">
    </ion-col>
  </ion-row>

  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm" [formGroup]="credentialsForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label color="primary" style="flex: 0 0 20px; width: 10px; min-width: 10px;" fixed>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input type="email" [formControl]="credentialsForm.controls['email']" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"
                required></ion-input>
            </ion-item>
            <div *ngIf="!credentialsForm.controls.email.valid &&
            credentialsForm.controls.email.dirty" class="validator-error validation">
              Please enter a valid email.
            </div>

            <ion-item>
              <ion-label color="primary" style="flex: 0 0 20px; width: 10px; min-width: 10px;" fixed>
                <ion-icon name="lock"></ion-icon>
              </ion-label>
              <ion-input [formControl]="credentialsForm.controls['password']" type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"
                required></ion-input>
            </ion-item>

            <div color="red" *ngIf="!credentialsForm.controls.password.valid &&
            credentialsForm.controls.password.dirty" class="validator-error validation">
              Please enter a valid password.
            </div>

            <div class="vl"></div>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>

<ion-footer *ngIf="keyboardCheck()">
  <ion-toolbar>
    <div>
      <ion-label class="footer">Copyrights &copy; 2018 All rights reserved</ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
