<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> View Products </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
    <ion-grid>
      <ion-row class="table-header">
        <ion-col col-md-6> <b>Batch Number</b></ion-col>
        <ion-col col-md-6> <b>Seed Class</b></ion-col>
      </ion-row>
      <ion-row *ngFor="let item of products" class="table-header">
        <ion-col col-md-6> {{ item.batchNumber }}</ion-col>
        <ion-col col-md-6> {{ item.seedClass }}</ion-col>
      </ion-row>
    </ion-grid>
  -->
  <ion-list>
    <ion-item>
      <b>Batch Number</b>
      <div class="item-note" slot="end"><b>Seed Class</b></div>
    </ion-item>
    <ion-item *ngFor="let item of products">
      <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
      {{ item.batchNumber }}
      <div class="item-note" slot="end">{{ item.seedClass }}</div>
    </ion-item>
  </ion-list>
</ion-content>
