<ion-content class="login-content" padding>
  <div class="login">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Email"
                name="email"
                [(ngModel)]="email"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                type="password"
                placeholder="Password"
                name="password"
                [(ngModel)]="password"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-button type="submit" shape="round" color="primary"
        >Login
      </ion-button>
    </form>
  </div>
</ion-content>
