.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    display: block;
    width: 100%;
    text-align: center;
   /*  ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    } */
  }
}
